
.row {
  background: #16274b;
  padding: 5px 0;
}
.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #6d135b; /* default background */
  transition: background .7s;
}

.fake {
  background: #d5bba0 !important;
}

/* .fake[data-bigger="true"] {
  transform: scale(1.44);
} */

.dot[data-onit="true"] {
  background: #e62984;
  transform: scale(1.21);
}
